<div class="container__big-card">
    <div class="big-card__photo">
        <img 
            src="https://th.bing.com/th/id/R.5f8b98acd656c6d261777d035c50a112?rik=9e0Xk%2brW5WO0Yg&riu=http%3a%2f%2fimg2.wikia.nocookie.net%2f__cb20140518072131%2ftowerofsaviors%2fimages%2f4%2f47%2fPlaceholder.png&ehk=CZAAxtW4x95yvm5bFj%2fqN8pJu9M9F1JW8H5KVFRhKnk%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1" 
            alt="" 
            height="200px"
            width="300px"
            srcset=""
        >
    </div>
    <div class="big-card__title">

    </div>
    <div class="big-card__description">

    </div>
</div>
